<div>Your post form is below</div>
<.form :let={f} for = {@changeset} action={~p"/blogs/create"}>
  <.label>Title</.label>
  <.input field={f[:title]} />
  <.label>Content</.label>
  <.input field = {f[:content]}/>
  <br>
  <.button type = "submit">Submit</.button>
</.form>
