<div>Your post form is below</div>
<form action="" method="post">
  <label>Title:</label>
  <input type="text" name="post[title]" required>
  <br>
  <label>Content:</label>
  <textarea name="post[content]" rows="4" required></textarea>
  <br>
  <button type="submit">Create Post</button>
</form>
